<div class="panel panel-default">
  <div class="panel-heading">Update status</div>
  <div class="panel-body">

<div class="table-responsive">
<table class="table table-bordered">
  
  <thead>
      
    <tr>
    
     <td><b>Type of Activity</b></td>
      <td><b>Title</b></td>
      <td><b>Tentative Duration</b></td>
      <td><b>Tentative Finish Date</b></td>
      <td><b>Tentative Expenditure(in Lacs)</b></td>
      <td><b>Number of Geo-tagged pics</b></td>
      <td><b>Uploaded on Fund tracker</b></td>
      <td colspan=2><table><tr><th colspan=2><b>Expenditure Month wise</b></th></tr><tr><th>June</th><th>July</th></tr></table></td>


      
      <td width=190 align="center"><b>Action</b></td>
    
    </tr>
  </thead>
   
  <tbody>
      
    
       <tr  *ngFor="let project of projects">
         
          
        <td>{{project.top}}</td>
        <td>{{project.tiop}}</td>
        <td>{{project.dd}}</td>
        <td>{{project.tnop}}</td>
         <td>{{project.exp}}</td>
        <td>{{project.geostatus}}</td>
        <td>{{project.ftstatus}}</td>
        <td>{{project.expjune}}</td>
        <td>{{project.expjuly}}</td>
      
        
        <td> 
           <!-- <a class="btn btn-info" routerLink="/show/{{employee._id}}">Detail</a> --> 
            <a class="btn btn-success" routerLink="/edit/{{project.aid}}">Edit</a>
            <a class="btn btn-danger" (click)="deleteProject(project.aid)">Delete</a>
        </td>
          

     </tr>
     
     
     
  </tbody>
 
</table>

  

</div>

 <papp-navbar></papp-navbar>
   


      
     
   
  </div>  
</div>
