<h2> Action Plan of {{actplan.company}}</h2>
<div class="table-responsive">
<table class="table table-bordered">
  <thead><tr>
      
     
     <td><b>Type of Project</b></td>
      <td><b>Title</b></td>
            <td><b>Tentative Finish Date</b></td>
      <td><b>Tentative Expenditure</b></td>
     
      <td><b>Remarks</b></td>
      
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let project of actplan">
        
        <td>{{project.top}}</td>
        <td>{{project.tiop}}</td>
        
        <td>{{project.tnop | date}}</td>
        <td>{{project.exp}}</td>
       
     <td>{{project.remarks}}</td>
     </tr>
    
  </tbody>
 
</table>
</div>